* {
    box-sizing: border-box;
    margin: 0px;
}

.margin1 {
    margin: 10px;
}

.listdisplay {
    display: none;
}

.listpadding {
    padding-top: 5px;
}

.search {
    align-self: center;
    width: 50%;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 80%;
}

a {
    text-decoration: none;
}

ul {
    padding: 0px;
}

div li {
    list-style: none;
}