* {
    box-sizing: border-box;
}

.margin {
    margin-left:20px;
    margin-bottom:20px;
    margin-right: 20px;
}


.content {
    display: flex;
    justify-content: flex-end;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 50px black;
    margin-top: 100px;
    margin-right: 20%;
    margin-left: 20%;
}

.fix {
    background-image: url(../imagenes/57662268-escritorio-de-oficina-con-el-ordenador-portátil-en-blanco-café-y-diversos-artículos-de-papelería-en-el-fondo.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
}

.backcolor {
    background-color:#7e3af2;
    color: white;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}

.backcolor2 {
    background-color: white;
    color: black;
    padding: 10px;
    padding-left: 3px;
    border-radius: 10px;
}

hr {
    margin: 20px;
}

.inputwidth {
    width: 100%;
    border: 1px solid gray;
    padding: 10px;
}


form {
    box-sizing: border-box;
}

form > div > input {
    box-sizing: border-box;
}

label {
    display: block;
}

.img {
    width: 50%;
}

form {
    background-color: white;
    width: 50%;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links button {
    margin-bottom: 20px;
}

.links button a {
   text-decoration: none;
}

.link a {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
}



 
@media only screen and (max-width: 758px) {
    .content {
        flex-direction:column;
        font-size: 70%;
        margin-right: 5%;
        margin-left: 5%;
    }

    .fix {
        width: 100%;
        height: 150px;
    }

    form {
        width: 100%;
    }
}
