body {
    margin-top: 60px;
    background-color: rgb(199, 240, 161);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-block {
    background-color: white;
    border-radius: 20px;
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header > img {
    width: 250px;
   padding-top: 40px;
}


[class^="middle-child"] {
    background-color: rgb(219, 210, 210);
    width: 350px;
    height: 30px;
    margin-bottom: 20px;
}

.logo img {
    width: 120px;
}

footer {
    width: 500px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.bottom-footer {
    background-color: rgb(219, 210, 210);
    width: 120px;
    height: 30px;
    margin-bottom: 30px;
}
